/include/ccittfax/_config.h
/tests/test
/tests/mkbmp
/tests/cfd
/tests/cfc
/tests/change
/tests/trie
/utils/generate_trie
/utils/mkbmp
/tests/test.ccitt
/tests/test.deccitt
/tests/out.bmp
/tests/test-1bpp.bmp
/tests/.gdb_history
/tests/cf
/tests/cfc_common
