/include/ccittfax/_config.h
/tests/test
/tests/mkbmp
/tests/cfd
/tests/cfc
/tests/change
/tests/trie
/utils/generate_trie
/utils/mkbmp
/tests/test.ccitt
/tests/test.deccitt
/tests/out.bmp
/tests/test-1bpp.bmp
/tests/.gdb_history
/tests/cf
/tests/cfc_common
/tests/test_cf_buffer
/tests/test_cf_byte_align
/tests/test_cf_find_changing
/tests/test_cf_get_color
/tests/test_cf_new_capacity
/tests/test_cf_setbits
